# Apify & Local Development
# Ignoruje lokalne dane (datasety, kolejki) tworzone podczas uruchamiania aktora poleceniem 'apify run'
/apify_storage

# Node.js Dependencies
# Ten folder jest automatycznie tworzony po uruchomieniu 'npm install' i nie powinien być częścią repozytorium
/node_modules

# Logs
# Ignoruje pliki logów generowane przez npm lub inne narzędzia
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
# Nigdy nie umieszczaj w repozytorium plików ze zmiennymi środowiskowymi (np. kluczami API)
.env
.env.local
.env.*.local

# IDE & Editor Directories
# Ignoruje pliki konfiguracyjne popularnych edytorów kodu
.idea/
.vscode/

# Operating System Files
# Ignoruje pliki systemowe generowane przez macOS i Windows
.DS_Store
Thumbs.db